body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url("https://images.unsplash.com/photo-1519681393784-d120267933ba")
    no-repeat center center fixed;
  background-size: cover;
}

/* Update ChoiceGenerator and GeneratedChoice styles */
.ChoiceGenerator {
  margin: 150px auto;
  max-width: 600px;
  border: 1px solid rgba(37, 39, 87, 0.735) !important;
  text-align: center;
  background-color: rgba(170, 166, 204, 0.306);
  padding: 20px;
  border-radius: 10px;
}

.GeneratedChoice {
  margin-top: 40px;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 2px 2px #6e6767;
  color: #1a237e;
}
.customized-border,
.customized-btn {
  border: 1px solid rgba(37, 39, 87, 0.735) !important;
}

.customized-btn:hover {
  background-color: rgba(37, 39, 87, 0.735);
  color: white;
}

.customized-btn:active {
  box-shadow: none;
  transform: translateY(1px);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
